/* -----------------------
Author: Krad
Color Scheme:
Red: C0392B	AB4035	A3291D	F1897E	F1BEB8
Dark: 222 000
-------------------------*/
html, body
{
    height: 100%;
    min-height: 100%;
}

/*	Navbar and Header	*/
.navbar-dark {
	background-color: rgba(22,22,22,0.6);
	border-color: #353535;
}
.navbar-dark .navbar-brand {
	color: #eee;
}
.navbar-brand {
	background: url(../img/logo-sm.png) 0 center no-repeat transparent;
	padding-left: 32px;
	margin-left: 10px !important;
	font-family: 'Open Sans', sans-serif;
}
.navbar-dark .navbar-nav>li>a {
	color: #eee;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: rgba(0,0,0,0.6);
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: rgba(0,0,0,0.6);
}
#section-link { 
	text-transform: uppercase;
	margin-right: 15px;
}

#titan {
	min-height: 100%;
	background: url(../img/titan.jpg) 50% 0 repeat fixed #333;
}
#titan .super-logo {
	background: url(../img/logo-bg.png) center center no-repeat transparent;
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
}

/*	Section Content	*/
.big-land .container {
	padding: 90px 15px;
}
.big-land .fa-6 {
	font-size: 15em;
}
.big-land .fa-4 {
	font-size: 10em;
}
.big-land h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-style: italic;
}
#about { 
	background: #f39c12;
	color: #fff;
}
#us-two { 
	background: url(../img/us-tw2.jpg) 0 0 repeat fixed #222;
	color: #fff;
}
#us-three { 
	background: #27ae60;
	color: #fff;
}
#us-four { 
	background: url(../img/us-four.jpg) 0 0 repeat fixed #222;
	color: #fff;
}
/*	Product	*/
#product {
	background: url(../img/crossword.png) 0 0 repeat #fff;
}
#product h2 {
	color: #ccc;
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -10px 0 10px 10px;
}
.product-red h3 { color: #c0392b !important; }
.product-green h3 { color: #27ae60 !important; }
.product-blue h3 { color: #2980b9 !important; }
.product-yellow h3 { color: #f39c12 !important; }
.product-red { 
	background: #ffb7b7 !important;
	-webkit-box-shadow: 0 0 5px 0 #c0392b !important;
	box-shadow: 0 0 5px 0 #c0392b !important; 
}
.product-green { 
	background: #baefd1 !important;
	-webkit-box-shadow: 0 0 5px 0 #27ae60 !important;
	box-shadow: 0 0 5px 0 #27ae60 !important;
}
.product-blue { 
	background: #bcdcf1 !important;
	-webkit-box-shadow: 0 0 5px 0 #2980b9 !important;
	box-shadow: 0 0 5px 0 #2980b9 !important;
}
.product-yellow { 
	background: #fde3ba !important;
	-webkit-box-shadow: 0 0 5px 0 #f39c12 !important;
	box-shadow: 0 0 5px 0 #f39c12 !important;
}
.product-item {
	background: #fff;
	height: 300px;
	-webkit-box-shadow: 0 0 5px 0 #bbb;
	box-shadow: 0 0 5px 0 #bbb;
	padding: 15px;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.product-item h3 {
	text-align: center;
	margin: 10px 0 25px;
	color: #bbb;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.card-container {
	width: 120px;
	height: 148px;
	position: relative;
	perspective: 800px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	margin: auto;
}
#card {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#card figure {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 260px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 140px;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
#card .front {
	background: url(../img/product.png) 0 0 no-repeat transparent;
}
#card .back {	
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}
#card.flipped {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}
#product-1 { background: url(../img/pianoic.png) 0 0 no-repeat transparent; }
#product-2 { background: url(../img/slaprat.png) 0 0 no-repeat transparent; }
#product-3 { background: url(../img/whitedrop.png) 0 0 no-repeat transparent; }
#product-4 { background: url(../img/playother.png) 0 0 no-repeat transparent; }
.product-link {
	text-align: center;
	margin: 20px 0;
}
.product-link a.btn {
	width: 48px;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.btn-grey { 
	background: #bbb !important;
	border-color: #ccc !important;
}
/*	Section Talk	*/
#talk {
	background: url(../img/talk.jpg) 0 0 repeat fixed #222;
	color: #ddd;
}
#talk h2 {
	color: #999;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -10px 0 30px 10px;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}
#talk blockquote {
	border-color: #555;
}
#talk blockquote p {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 25px;
}
#talk blockquote a { color: #999; }
/*	Section Join	*/
#join {
	background: #3498db;
	color: #fff;
}
#join h2 {
	color: #eee;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -10px 0 30px 10px;
	text-align: center;
}
#join ul {
	font-size: 22px;
	font-style: italic;
}
/*	Section Register	*/
#register {
	background: url(../img/registerbg.jpg) 0 0 repeat fixed #222;
	color: #fff;
	min-height: 100%;
}
#register h2 {
	color: #eee;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -10px 0 30px 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
.activity {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 20px;
	margin-top: 15px;
}
.social-link {
	font-size: 20px;
	list-style: none;
}
.social-link a {
	color: #fff;
}
.social-link .fa {
	width: 50px;
	text-align: center;
}
/*	Colophon	*/
#colophon { 
	background: #111; 
}
#colophon p { 
	color: #555;
	margin: 5px 0;
}

/* trungnv */
/* members */
#members{
	background: #ccc;
}
#members > div > div{
	text-align: center;
	position: relative;
	margin: 10px 0px;
	padding: 20px 0px;
}

#members h2{
	color: #FCFCFC;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -10px 0 30px 10px;
	border-bottom: 1px solid #FCFCFC;
	padding-bottom: 5px;
}

#members .overlay-member{
	display: block;
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -135px;
	background: #EBEBEB; 
	border-radius: 50%; 
}


.typeform iframe{
	width: 100%;
	height: 400px;
	border: none;
}

/* end - trungnv*/